<html>
<head>
  <title>User Login</title>
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static "accounts/css/accounts.css" %}"/>

</head>
	<body>
	   <div id="background">

		<div id="loginform">
		<h1 id="plslgn">please login</h1>
		{% if form.errors %}
		<p id="err">Your username and password didn't match...</p>
		{% endif %}
			<form method="post" action="{% url 'acounts:login' %}">
			{% csrf_token %}
			<p><label id="usr" for="id_username">Username:</label>{{ form.username }}</p>
			<p><label id="psw" for="id_password">Password:</label>{{ form.password }}</p>
			<input type="hidden" name="next" value="/" />
			<input type="submit" value="login" />
			</form>
	     	</div>
	   </div>
	</body>
</html>
