<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>emorecog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    {% load static %}
    <script src=" {% static "gateway/js/smoothie.js" %}"></script>
</head>
<body>
    <div>You are at the landing page for the emo-recog server!</div>
      <div id="gsr-terminal"> GSR Data
        <ul id="gsr-container"></ul>
      </div>
    </div>

    <canvas id="mycanvas" width="1000" height="400"></canvas>

<script>

$(document).ready(function(){
  var itt = 0;
  var max_seg_stop = 600;
  var msg = "roundtrip";


          var smoothie = new SmoothieChart();//{maxValue:500,minValue:350}
          smoothie.streamTo(document.getElementById("mycanvas"));
          var line1 = new TimeSeries();

          //var socket = io.connect('localhost', {port: 4000});
          var socket = io('http://localhost:4000');
          socket.on('connect', function(){
            console.log("connect");
          });
          socket.on('message', function(message) {
            //Escape HTML characters
            var data = message.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");
            //append the data
            line1.append(new Date().getTime(), parseInt(data));

          });
            smoothie.addTimeSeries(line1);
        });

</script>
</body>
